*{
    padding: 0;
    margin: 0px;
}
header{
    background-color: #000000FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100px;
    position: relative;
    
}
.l1{
    list-style: none;
    display: inline;
    margin-left: 50px;
       
}
.title{
    flex-direction: column;
    margin-left: 36px;
    
}
.title-1{
 margin-left: 50px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.pink{
    background-color: #f69;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#first-image{
    height: 490px;
    background-image: url('../assets/armarinho-fundo.jpg');
    background-size: contain;
}
.l2{
    margin-right: 20px;
}
.l3{
    display: inline-block;
    list-style: none;
    padding-top: 1.4%;
    margin-left: 30px;
}
#l4{
    margin-left: 25%;
}
.center{
    padding-top: 10px;
    text-align: center;
    
}
img{
    display: block;
    margin-left: auto;  
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
.l3:hover{
    color: rgb(0, 0, 0);
    transition: 1s;
}
.l1:hover{
    color: #f69;
}
